html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #171717;
}

* {
  background-color: #171717;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.title-heading {
  color: white;
  font-size: 10em;
  font-weight: bolder;
  margin-left: 5%;
}

.subheading {
  font-size: 2em;
  font-weight: bolder;
  font-style: oblique;
  margin-left: 5%;
  color: #999999;
  font-family: "Times New Roman", Times, serif;
}
