body {
  height: 100%;
  background: transparent;
}

.content1 {
  margin: 5% 5%;
}

@font-face {
  font-family: "DirtyLine";
  src: url("../fonts/Dirtyline 36daysoftype 2022.woff") format("woff"),
    url("../fonts/Dirtyline 36daysoftype 2022.woff2") format("woff2"),
    url("../fonts/Dirtyline 36daysoftype 2022.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.title-heading {
  height: fit-content;
  width: fit-content;
  margin-top: 3%;
  color: white;
  font-size: 13em;
  font-weight: bolder;
  margin-left: 5%;
  font-family: DirtyLine;
  letter-spacing: 10px;
}

.subheading {
  font-size: 2em;
  font-weight: bolder;
  font-style: oblique;
  margin-left: 5%;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#ontop-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.4);
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  transition: box-shadow 0.5s ease;
}

#gradient-canvas {
  /* margin-top: 2%; */
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  --gradient-color-1: #ffffff;
  --gradient-color-2: #34b4fe;
  --gradient-color-3: #000000;
  --gradient-color-4: #00bbff;
  background-color: black;
}

.heading_title_text,
.icon {
  color: white;
  font-family: Helvetica;
  font-size: 9em !important;
  font-weight: bold;
}

.heading_title {
  opacity: 0;
  display: inline-flex;
  margin-bottom: 3%;
  /* justify-content: center; */
  align-items: center;
  transition: opacity 0.3s ease;
}

.icon {
  font-size: 8em !important;
  margin-right: 3%;
}

.images {
  margin-top: 3em;
}

hr {
  color: white;
}
.img-carousel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  pointer-events: none;
  margin-top: 1em;
}

.img-carousel img {
  /* width: auto; */
  min-height: 500px;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  pointer-events: none;
}

* {
  user-select: none;
}
