html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #171717;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;

  /* background-color: #e7ff99;
  background-image: radial-gradient(
      at 56% 25%,
      hsla(244, 83%, 71%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 41% 71%, hsla(268, 90%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 33%, hsla(0, 82%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 60%, hsla(198, 87%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 5%, hsla(69, 96%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 48%, hsla(176, 81%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 73%, hsla(24, 90%, 79%, 1) 0px, transparent 50%); */

  background-size: 100% 100%;
  height: 100vh; /* Ensure full height of the viewport */
}

.nav-item-with-icon a {
  display: flex;
  align-items: center;
}

.center-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-icon {
  color: transparent;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.socials i {
  margin: 1em 0 0 0.5em;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
}

.socials i:hover {
  animation: bounce 0.8s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.buttons {
  display: inline-flex;
}
