body {
  overflow: hidden;
}

.black_cover {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: -1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.black_cover.visible {
  opacity: 1;
  z-index: 1000000;
}

.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Box */

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: transparent;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid #00bbff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* Progress loading */

.custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #00bbff;
  border: 3px solid;
  position: relative;
  margin-top: 0.7em;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #00bbff;
  animation: p6 2s infinite;
}

@keyframes p6 {
  100% {
    inset: 0;
  }
}

/* Text*/

#loading_text{
  font-size: 1.3em;
  font-family: Helvetica;
  font-weight: bold;
  color: #00bbff;
  margin-top: 3em;
}