html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000 !important;
}

* {
  user-select: none;
}
.title-heading {
  width: fit-content;
  color: white;
  font-size: 13em;
  font-weight: bolder;
  margin-left: 5%;
  font-family: VCR;
  margin-bottom: 3%;
}

@font-face {
  font-family: VCR;
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

.fa-brands,
.material-symbols-outlined {
  margin-left: 15px;
}
