@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

#hello {
  font: bold 110% Helvetica;
}

#world {
  font: bold 120% Timesbi;
}

.typing_animation {
  color: white;
  width: 100%;
  /* font: bold 300% Consolas, Monaco, monospace; */
  font-size: 8em;
  /* border-right: 0.1em solid rgb(255, 255, 255); */
  /* width: 16ch; */
  /* margin: 2em; */
  margin-top: 3em;
  margin-bottom: 3%;
  white-space: nowrap;
  overflow: hidden;

  text-align: right;
  justify-content: right;
  align-items: right;
  text-transform: uppercase;

  /* animation: typing 1s steps(14, end),
    blink-caret 0.5s step-end infinite alternate;

  -webkit-animation: typing 1s steps(14, end),
    blink-caret 0.5s step-end infinite alternate; */
}

.animation_paragraph {
  width: 100%;
  font: bold 100% Consolas, Monaco, monospace;
  color: white;
  font-size: 1.3em;
  border-right: 0.2em solid rgb(255, 255, 255);
  /* width: 115ch; */
  white-space: nowrap;
  overflow: hidden;

  text-align: right;
  justify-content: right;
  align-items: right;
  animation: typing 1s steps(14, end),
    blink-caret 0.5s step-end infinite alternate;

  -webkit-animation: typing 1s steps(14, end),
    blink-caret 0.5s step-end infinite alternate;
}
