.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Add a transition to navbar-brand */
}

.nav-icon-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-icon-text {
  display: inline;
  margin-left: 10px;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s; /* Add a delay to the opacity transition */
  transform: translateX(-20px); /* Move the text to the left initially */
}

.nav-icon:hover .nav-icon-text {
  opacity: 1;
  transform: translateX(0); /* Move the text back to its original position */
}

.nav-icon {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}
