/* body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" stroke="%23ffffff" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
      10 10,
    auto;

  transition: filter 0.3s ease;
}

a,
button:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" stroke="%23ffffff" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
      10 10,
    auto;
} */

/*! add new */

* {
  cursor: none;
}
.cursor {
  z-index: 2000;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  box-shadow: 0px 0px 30px white;

  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out; /* Add transition property */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor.blur {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.cursor.transparent {
  background-color: transparent;
}

.cursor.partially_transparent {
  background-color: transparent;
  outline-color: white;
  outline-width: 0px;
  outline-style: solid;
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
}

#cursortext {
  height: 60%;
  color: white;
  font-size: 3px !important;
  /* opacity: 0; */
  z-index: 2001;
  position: fixed;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
}

#cursoricon1 {
  color: black;
  font-size: 0.7em !important;
  z-index: 2001;
  position: fixed;
  font-weight: bold;
}

#cursoricon2 {
  color: white;
  font-size: 0.7em !important;
  z-index: 2001;
  position: fixed;
  font-weight: bold;
  text-align: center;
}

#cursoricon3 {
  color: black;
  font-size: 0.7em !important;
  z-index: 2001;
  position: fixed;
  font-weight: bold;
}

#cursoricon4 {
  color: white;
  font-size: 0.6em !important;
  z-index: 2001;
  position: fixed;
  font-weight: bold;
  text-align: center;
}

#cursoricon5 {
  margin-top: 23px;
  height: 40px;
  z-index: 2001;
  position: fixed;
}

#cursoriconwave {
  margin-top: 23px;
  height: 10%;
  z-index: 2001;
  position: fixed;
}

#cursoriconidea,
#cursoriconpallette,
#cursoriconlaptop {
  margin-top: 23px;
  height: 10%;
  z-index: 2001;
  position: fixed;
  /* transition: opacity 0.2s ease; */
}

#cursoricon1,
#cursoricon2,
#cursoricon3,
#cursoricon4,
#cursoricon5,
#cursoriconwave,
#cursoriconlaptop,
#cursoriconidea,
#cursoriconpallette,
#cursortext,
#cursoriconwave.invisible {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.3s ease;
}

#cursoricon1.active,
#cursoricon2.active,
#cursoricon3.active,
#cursoricon4.active,
#cursoricon5.active,
#cursoriconwave.active,
#cursortext.active,
#cursoriconlaptop.active,
#cursoriconidea.active,
#cursoriconpallette.active {
  /* display: inline-block; */
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* 
.titles:hover + .cursor {
  opacity: 1;
  transform: scale(6);
  mix-blend-mode: difference;
} */
