html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden !important;
  overflow: hidden;
  /* scroll-behavior: smooth; */
  /* -webkit-scroll-snap-type: y mandatory; */
  /* scroll-snap-type: y mandatory; */
  background-color: black !important;
}

section {
  height: 100%;
  width: 100%;
  /* scroll-snap-align: start; */
  /* scroll-snap-stop: always; */
  /* margin: 5% 5%; */
}

@font-face {
  font-family: "DirtyLine";
  src: url("../fonts/Dirtyline 36daysoftype 2022.woff") format("woff"),
    url("../fonts/Dirtyline 36daysoftype 2022.woff2") format("woff2"),
    url("../fonts/Dirtyline 36daysoftype 2022.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.title-heading {
  height: fit-content;
  width: fit-content;
  margin-top: 3%;
  color: white;
  font-size: 13em;
  font-weight: bolder;
  margin-left: 5%;
  font-family: DirtyLine;
  letter-spacing: 10px;
}

.subheading {
  font-size: 2em;
  font-weight: bolder;
  font-style: oblique;
  margin-left: 5%;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.heading_title {
  margin-left: 5%;
}

.heading_title_text {
  font-family: Helvs;
  font-weight: bold;
  font-size: 8em;
  color: white;
}

#ontop-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.4);
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  transition: box-shadow 0.5s ease;
}

#gradient-canvas {
  /* margin-top: 2%; */
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  --gradient-color-1: #ffffff;
  --gradient-color-2: #34b4fe;
  --gradient-color-3: #000000;
  --gradient-color-4: #00bbff;
  background-color: black;
}

.heading_title {
  opacity: 0;
  display: inline-flex;
  margin-bottom: 3%;
  margin-top: 8%;
  align-items: center;
  transition: opacity 0.3s ease;
}

.title_icon {
  font-size: 5.5em;
  color: white;
  margin-right: 10%;
}

.images {
  margin-top: 3em;
}

hr {
  color: white;
}
/* .img-carousel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  pointer-events: none;
  margin-top: 1em;
}*/

img {
  width: auto;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  pointer-events: none;
}

* {
  user-select: none;
}

/*! Headers */
.slider {
  width: 100%;
  cursor: grab;
}

.slider-wrapper {
  white-space: nowrap;
}

.slider-item {
  display: inline-block;
  width: 40vw;
  padding: 3vw;
}

.slider-item figure {
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}

.slider-item figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.slider-progress {
  width: 20vw;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: 0% 0%;
}

/* ! Headers End */
