.navbar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  background-color: rgba(0, 0, 0, 0.2);
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  margin: 30px 22px;
  border-radius: 5em;
  z-index: 1003;
}

.website-title {
  /* font-weight: bold; */
  font-size: 20px;
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #00bbff !important;
  transition: color 0.3s ease;
}

.navbar-brand {
  color: white !important;
}

.container-fluid {
  width: 100%;
  display: flex;
  gap: 16px;
}


.navbar_menu {
  /* display: none; */

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);

  /* background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px); */
  z-index: 1000;
}

.navbar_menu.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow: none;
}

/* ! Menu Hamburger */
.navbar_menu_btn {
  margin-left: auto;
  margin-right: 1%;
  margin-top: 0.2%;
  margin-bottom: -0.3%;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0.3%;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
  stroke: white;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
  stroke: white;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
  stroke: white;
}

/* ! Menu Items */

*,
a {
  text-decoration: none !important;
}

.menu_items {
  margin-top: 2%;
  z-index: 2001;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.item {
  width: 100%;
  /* color: black; */
  color: rgba(255, 255, 255, 0.15);

  display: flex;
  transition: color 0.3s ease;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, transform 0.2s ease;
}

.menu_item {
  color: rgba(255, 255, 255, 0.15);
  /* color: black; */
  font-size: 7.5em;
  font-weight: bolder !important;
  text-transform: uppercase;
  background-color: transparent;
  margin: -0.1em 0 -0.1em 0;
  animation: pulse 1s linear infinite;
}

.item.active,
.item.item.active .menu_item {
  color: white;
  font-family: Times;
  transform: skewX(-10deg);
  transition: color 0.3s ease, transform 0.2s ease;
}

.item.active:hover,
.item.item.active:hover .menu_item {
  color: #00bbff;
  font-family: Times;
  transition: color 0.3s ease, transform 0.2s ease;
}

.item:hover,
.item:hover .menu_item {
  color: white;
  font-family: Times;
  transform: skewX(-10deg);
  transition: color 0.3s ease, transform 0.2s ease;
}

.menu_item_icon {
  margin-right: 0.5em;
  font-size: 7.5em;
}

.horizontal_line {
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
}

#websiteby {
  color: grey;
  font-style: italic;
  font-family: Times;
}

/* 
#cursortext.active {
  display: inline-flex;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 1500px) {
  .menu_item,
  .menu_item_icon {
    font-size: 6em;
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 900px) {
  .menu_item,
  .menu_item_icon {
    font-size: 4em;
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 500px) {
  .menu_item,
  .menu_item_icon {
    font-size: 3em;
  }
}
